moviepy==2.2.1
pillow==9.5.0
openai>=1.14.0
whisper
torch
gtts
python-dotenv
pydantic-settings
tqdm
imageio
imageio-ffmpeg
numpy>=1.25.0
requests
# Whisper oficial de OpenAI
git+https://github.com/openai/whisper.git

